.App {
  background-color: #282c34;
  font-family: 'Cascadia Code', sans-serif;
}

body {
  background-color: lightgrey !important;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* a {
  color: #4d4d4d !important;
} */

.App-link {
  color: #61dafb;
}

.content {
  line-height: 1.2;
  padding: 10px;
}

.article-preview {
  outline-style: auto;
  outline-width: 1cm;
  margin: 6px auto;
  width: 80%;
  padding: 5px;
  /* outline-color: grey; */
}

.article-preview-title {
  text-decoration: underline;
}

.nav{
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 10px;
  background-color: black;
  /* height: 23px; */
  /* font-family: 'Cascadia Code', sans-serif; */
}

.Body{
  position: absolute;
  top: 30px;
  text-align: center;
  width: 100%;
  /* background-color: #4d4d4d; */
}

.padding{
  padding: 100px;
}

.wp-post {
  width: 80%;
  position: absolute;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  left: 10%;
  right: 10%;
  /* top: 30px; */
  /* outline-style: auto;
  outline-color: grey;
  outline-width: 1cm; */
}

img {
  height: 80%;
  width: 80%;
}

.func-flex {
  width: 30%;
  float: left;
  color: white;
  font-family: 'Cascadia Code', sans-serif;
}

.welcome-message {
  width: 80%;
  left: 10%;
  right: 10%;
  padding: 10px;
  position: absolute;
  text-align: center;
  /* height: 100%; */
  /* margin: 0 auto; */
  /* outline-style: auto;
  outline-color: grey;
  outline-width: 1cm; */
}


  /* .App-logo {
    height: 40vmin;
    pointer-events: none;
  } */

  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
